<nav>
    <ul>
        <li>
            <a routerLink="" [class.active]="currentUrl == '/'">
                <i class="material-icons"> home</i>
            </a>
        </li>
        <li>
            <a routerLink="/event/create" [class.active]="currentUrl == '/event/create'">
                <i class="material-icons"> add</i>
            </a>
        </li>
        <li>
            <a routerLink="/event" [class.active]="currentUrl == '/event'">
                <i class="material-icons"> event</i>
            </a>
        </li>
        <li>
            <a routerLink="">
                <i class="material-icons"> message</i>
            </a>
        </li>
    </ul>
</nav>