.container
    padding: 30px 50px

h1
    color: white

.content
    background: #fff
    border-radius: 8px
    padding: 40px 400px 40px 400px
    .top-content
        // display: grid
        display: flex
        justify-content: center
        // grid-template-columns: 600px auto
        .image
            display: flex
            img
                border-radius: 5px
                width: auto
                height: 600px
        .info
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-left: 60px
            .field
                display: flex
                align-items: center

                .title
                    font-size: 30px
                    margin-bottom: 20px
                    font-weight: 800
                &.button-field
                    margin-top: 20px
                .field-icon
                    margin-right: 10px
    .bottom-content
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 40px
        textarea
            border-radius: 5px
            width: 100%
        .description
            overflow: hidden
            height: 200px
            &.full
                overflow: auto
                height: auto
            
        .showTextButton
            color: blue

.join-button
    border-radius: 5px
    background-color: #00a8ffbf
    display: inline-block
    padding: 10px 25px
    color: #fff
    letter-spacing: .1em
    border: 0
    font-weight: 500
    cursor: pointer
    &:hover
        background-color: #00A8FF

.icon-share
    border-radius: 5px
    padding: 10px
    color: #222222
    background-color: #eeeeee
    letter-spacing: .1em
    border: 1px solid #cccccc
    font-weight: 500
    cursor: pointer
    font-size: 14px
    margin-left: 10px
    &:hover
        border: 1px solid #bbbbbb

.participants-grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
    justify-items: center
    .member-container
        display: flex
        width: 100%
        padding: 10px
        flex-direction: column
        align-items: center
        font-size: 12px
        text-align: center
        word-break: break-word
        .member-avatar
            height: 40px
            width: 40px
            border-radius: 50px
            background-color: #006bff54
            margin-bottom: 5px
        .member-name


@media (max-width: 768px)
    .container
        padding: 30px 15px
    .content
        padding: 40px 20px 40px 20px
        .top-content
            flex-direction: column
            .image
                display: flex
                justify-content: center
                margin-bottom: 20px
                img
                    border-radius: 5px
                    width: 100%
                    height: 200px
            .info
                margin-left: 0px
        .bottom-content
            align-items: normal
            .description
                overflow: hidden
                height: 100px
                column-width: 500px
                &.full
                    overflow: auto
                    height: auto

@media (max-width: 325px)
    .container
        padding: 30px 15px
    .content
        padding: 40px 20px 40px 20px
        .top-content
            flex-direction: column
            .image
                display: flex
                justify-content: center
                margin-bottom: 20px
                img
                    border-radius: 5px
                    width: 180px
                    height: 200px
            .info
                font-size: 12px
                margin-left: 0px
        .bottom-content
            align-items: normal
            .description
                overflow: hidden
                height: 100px
                column-width: 500px
                &.full
                    overflow: 100%
                    height: auto   





