<div class="container">
  <h1>Event Details</h1>

  <div class="content">
    <div class="top-content">
      <div class="image">
        <img [src]="event.image">
      </div>

      <div class="info">
        <div class="top-side">
          <div class="field">
            <div class="title">{{ event.name }}</div>
          </div>
          <div class="field">
            <i class="material-icons field-icon">
              group
            </i>
            {{event.members.length}} miembros
          </div>
          <div class="field">

            <i class="material-icons field-icon">
              access_time
              </i>
            {{event.date | date:'short'}}
          </div>
          <div class="field">

            <i class="material-icons field-icon">
              location_on
            </i>
            Barcelona, España
          </div>
          <div class="field">
            <i class="material-icons field-icon">
              person
            </i>
            Organized by <b>{{event.owner}}</b>
          </div>
        </div>
        <div class="bottom-side">
          <div class="field button-field">
            <button class="join-button" type="submit">Join</button>
            <i class="material-icons icon-share">
              share
            </i>
          </div>
        </div>

      </div>
    </div>
    <div class="bottom-content">
      <h4>Description</h4>
      <p *ngIf="event.description" class="description" [ngClass]="{'full': showMoreDescription==true}">
          {{event.description}}
        </p>
      <div *ngIf="event.description" class="showTextButton" (click)="showHiddeDescriptionText()">{{showDescriptionText}}</div>
      <h4>Comment</h4>
      <textarea rows="10"></textarea>
    </div>
  </div>
</div>