.container
    padding: 30px 50px

h1
    color: white

.content
    background: #fff
    border-radius: 8px
    padding: 40px 20px 40px 20px
    .top-content
        // display: grid
        display: flex
        justify-content: center
        // grid-template-columns: 600px auto
        .image
            display: flex
            img
                border-radius: 5px
                width: 600px
                height: 600px
        .info
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-left: 60px
            .field
                display: flex
                align-items: center

                .title
                    font-size: 30px
                    margin-bottom: 20px
                    font-weight: 800
                &.button-field
                    margin-top: 20px
                .field-icon
                    margin-right: 10px
    .bottom-content
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 40px
        textarea
            border-radius: 5px
        .description
            width: 50%
            column-width: 500px

.join-button
    border-radius: 5px
    background-color: #00a8ffbf
    display: inline-block
    padding: 10px 25px
    color: #fff
    letter-spacing: .1em
    border: 0
    font-weight: 500
    cursor: pointer
    &:hover
        background-color: #00A8FF

.icon-share
    border-radius: 5px
    padding: 10px
    color: #222222
    background-color: #eeeeee
    letter-spacing: .1em
    border: 1px solid #cccccc
    font-weight: 500
    cursor: pointer
    font-size: 14px
    margin-left: 10px
    &:hover
        border: 1px solid #bbbbbb






