<div id="component-container">
    <div class="container">
        <div class="header">
            <span class="material-icons">menu</span>
        </div>
        <div class="content">
            <div class="avatar-username">
                <div class="avatar"></div>
                <div class="username">aitorturito</div>
            </div>
            <div class="user-data">
                <div class="following">
                    <div class="number">0</div>
                    <div class="text">Following</div>  
                </div>
                <div class="followers">
                    <div class="number">0</div>
                    <div class="text">Followers</div>  
                </div>
                <div class="events">
                    <div class="number">0</div>
                    <div class="text">Events</div>  
                </div>
            </div>
            <div class="button-zone">
                <button>Edit profile</button>
            </div>
            <div class="description"></div>
            <app-profile-grid></app-profile-grid>
        </div>
    </div>
</div>
