<mat-drawer-container>
        <mat-drawer #sidenav [mode]="'push'" position="end">
            <app-profile-sidenav (logout)="logout()"></app-profile-sidenav>
        </mat-drawer>
        <mat-drawer-content>
            <div id="component-container">
                <div class="container">
                    <div class="header">
                        <div id="nav-icon4" (click)="openCloseSidenav()" [ngClass]="{ 'open': sidenav.opened }">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        <!-- <span (click)="drawer.toggle()" class="material-icons">menu</span> -->
                    </div>
                    <div class="content">
                        <div class="avatar-username">
                            <div class="avatar" [style.background-image]="'url(' + user.avatar + ')'"></div>
                            <div class="username">{{user.username}}</div>
                        </div>
                        <div class="user-data">
                            <div class="following">
                                <div class="number">{{user.nFollowing}}</div>
                                <div class="text">Following</div>  
                            </div>
                            <div class="followers">
                                <div class="number">{{user.nFollowers}}</div>
                                <div class="text">Followers</div>  
                            </div>
                            <div class="events">
                                <div class="number">{{user.nEvents}}</div>
                                <div class="text">Events</div>  
                            </div>
                        </div>
                        <div class="button-zone">
                            <button [routerLink]="['edit']" >Edit profile</button>
                        </div>
                        <div class="description"></div>
                        <app-profile-grid class="el-grid" [images]="user.images"></app-profile-grid>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>

