
.container
    height: 100%
    background-color: pink
    .tab-navigator
        height: 50px      
    .content-grid
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr))
        justify-items: center
        .content
            height: 160px
            width: 124px
            background-color: lightblue
            border: 1px solid black