<div id="component-container">
  <div class="search-holder">
    <span class="material-icons" *ngIf="!isSearching">search</span>
    <span class="material-icons" (click)="cancelSearching()" *ngIf="isSearching">arrow_back</span>
    <input #searchInput (click)="isSearching = true" type="text" placeholder="Search...">
  </div>
  <div class="search-history" *ngIf="isSearching"></div>
  <div class="events-grid" *ngIf="!isSearching" [@listStagger]="events">
    <div class="event" (click)="navigate(event)" [style.background-image]="'url(' + event.image + ')'" *ngFor="let event of events"></div>
  </div>
</div>