<div id="component-container">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="header">
            <span class="material-icons" routerLink="..">
                arrow_back
                </span>
                <button class="button" type="submit">Save</button>
        </div>
        <div class="content">
            <div class="avatar-username">
                <div class="avatar" [style.background-image]="'url(' + avatarImg + ')'">
                </div>
                <app-file-uploader #fileUploader [showBackgroundImage]="false" [defaultValues]="fileUploaderOptions" (image)="changeAvatar($event)" 
                (imageBackground)="changeAvatarBackground($event)"> </app-file-uploader>
            </div> 
            <div class="fields-container">
                <div class="field name">
                    <label for="Username">
                        Username
                      </label>
                    <input id="Username" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                </div>
                <div class="field name">
                    <label for="Instagram">
                        Instagram
                      </label>
                    <input id="Instagram" type="text" formControlName="instagram" [ngClass]="{ 'is-invalid': submitted && f.instagram.errors }">
                </div>
                <div class="field name">
                    <label for="Description">
                        Description
                      </label>
                    <input id="Description" type="text" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                </div>
            </div>
        </div>
    </form>
    </div>
</div>