<div id="component-container">
    <div class="container">
        <div class="cancel-header">
            <span class="material-icons" routerLink="..">close</span>
        </div>
        <div class="main">
            <div class="header">
                Sign up
            </div>
            <div class="content">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="field">
                        <input type="text" formControlName="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                        <div *ngIf="submitted && f.username.errors" class="invalid-field">Username is required</div>
                    </div>
                    <div class="field">
                        <input type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-field"> Password is required</div>
                    </div>
                    <button>Sign Up</button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>
