<div id="component-container">
  <h1>Create event</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="map">
      <!-- <agm-map [latitude]="lat" [longitude]="lon" [zoom]="12" [disableDefaultUI]="true">

      </agm-map> -->
        <div class="agm-map" #mapContainer [ngClass]="{ 'is-invalid': submitted && !this.marker }"></div>
        <div *ngIf="submitted && !this.marker" class="invalid-map">Location is required</div>
    </div>
    <div class="form-fields">
      <div class="field name">
        <label for="name">
            Name
          </label>
        <input id="name" type="text" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-field">Name is required</div>
      </div>
      <div class="field participants">
        <label for="participants">
            N.participants
          </label>

        <input id="participants" type="number" placeholder="N. of participants" formControlName="nParticipants">
      </div>
      <div class="field date">
        <label for="date">
            Date
          </label>
        <input id="date" type="date" [value]="currentDate" [min]="currentDate" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
        <div *ngIf="submitted && f.date.errors" class="invalid-field">Date is required</div>
      </div>
      <div class="field hour">
        <label for="time">
          Time
        </label>
        <input id="time" type="time" [value]="currentDate" [min]="currentDate" formControlName="time" [ngClass]="{ 'is-invalid': submitted && f.time.errors }">
        <div *ngIf="submitted && f.time.errors" class="invalid-field">Time is required</div>
      </div>

      <div class="field name">
        <label for="name">
            Description
          </label>
          <textarea rows="5" formControlName="description"></textarea>
      </div>

      <div class="field hour">
        <label>
          Image
        </label>
        <div class="uploader" >
          <app-file-uploader (onImageChange)="image = $event"></app-file-uploader>
        </div>
      </div>

      <div class="field button">
        <button class="button" type="submit">Create</button>
      </div>
    </div>

  </form>
</div>