<div class="container">
  <h1>Create event</h1>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="map">
      <agm-map [latitude]="lat" [longitude]="lon" [zoom]="12">

      </agm-map>
    </div>
    <div class="form-fields">
      <div class="field name">
        <label for="name">
            Name
          </label>
        <input id="name" type="text" placeholder="Name" formControlName="name">
      </div>
      <div class="field participants">
        <label for="participants">
            N.participants
          </label>

        <input id="participants" type="number" placeholder="N. of participants">
      </div>
      <div class="field date">
        <label for="date">
            Date
          </label>
        <input id="date" type="date" [value]="currentDate" [min]="currentDate">
      </div>
      <div class="field hour">
        <label for="time">
          Time
        </label>
        <input id="time" type="time" [value]="currentDate" [min]="currentDate">

      </div>

      <div class="field button">
        <button class="button" type="submit">Create</button>
      </div>
    </div>

  </form>
</div>